body {
  font-family: 'Chakra Petch', sans-serif;
  min-width: 320px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn {
  background: white;
  border: 1px solid #f3f3f3;
  border-radius: 4px;
  text-align: center;
  font-size: 15px;
  height: 20px;
  line-height: 100%;
  cursor: pointer;
}

.btn:hover {
  background: #f3f3f3;
}

.btn-lg {
  height: 30px;
  min-width: 30px;
}

.app-header {
  margin: 0 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.app-title {
  margin: 0 10px 0 0;
}

.users-table-container {
  overflow-x: scroll;
  width: 100%;
}

.users-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.users-table__header__cell {
  position: sticky;
  top: 0;
  background: #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  padding: 10px 20px;
  cursor: pointer;
}

.users-table__body__cell {
  border-bottom: 1px solid #f3f3f3;
  padding: 10px 20px;
}

.modal-bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.user-modal {
  max-width: 500px;
  background: white;
  padding: 20px;
  margin: 20px auto auto;
  border-radius: 10px;
}

.user-modal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f3f3f3;
}

.user-modal__header__title {
  margin: 0;
}

.user-modal__content {
  height: 50vh;
  overflow: scroll;
  margin-bottom: 10px;
}

.user-modal__content__field {
  border-bottom: 1px solid #f3f3f3;
  padding: 10px 0;
}

.user-modal__content__field-text {
  margin: 0;
}

.user-modal__content__field-input {
  border: 1px solid #f3f3f3;
  padding: 5px;
  border-radius: 4px;
}